body {
  background-color: #444;
  background-image: url(a9a91f77d7600645e70a72f80c1db298.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

